#adBanner {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#adBanner * {
  margin: 1.5vh;
}
#adBanner h3 {
  max-width: 60vw;
  color: white;
  font-size: large;
}
#adBanner h1 {
  color: rgb(255, 129, 11);
  font-size: 250%;
  font-weight: 500;
}