span {
  margin: 20px;
  height: 30px;
  position: relative;
  left: 35%;
  width: 30%;
  display: flex;
  background-color: #f8bc9596;
  border-radius: 20px;
  padding: 4px;
}
span input {
  width: 80%;
  background-color: transparent;
  border: none;
}
#recipes {
  width: 80%;
  margin: 0px 10%;
  display: flex;
}